@{
    ViewData["Title"] = "Home Page";
}

<div class="card mb-4">
    <div class="card-header">
        <a class="btn btn-link text-decoration-none" data-bs-toggle="collapse" href="#searchPanel" role="button" aria-expanded="false" aria-controls="searchPanel">
            <i class="fa-solid fa-filter"></i> ตัวกรอง
        </a>
    </div>
    <div class="collapse show" id="searchPanel">
        <div class="card-body">
            <form id="searchForm">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="orderNo">Order No.</label>
                            <select id="orderNo" name="orderNo" class="form-control">
                                <option value="">-- เลือก Order No. --</option>
                                <option value="ORD001">ORD001</option>
                                <option value="ORD002">ORD002</option>
                                <option value="ORD003">ORD003</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="orderNo">Order No.</label>
                            <select id="orderNo" name="orderNo" class="form-control">
                                <option value="">-- เลือก Order No. --</option>
                                <option value="ORD001">ORD001</option>
                                <option value="ORD002">ORD002</option>
                                <option value="ORD003">ORD003</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="revDate">วันที่รับ</label>
                            <input id="revDate" name="revDate" type="date" class="form-control" value="@* @Model.Data.Filter?.RevDate?.ToString("yyyy-MM-dd") *@">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="revDate">วันที่รับ</label>
                            <input id="revDate" name="revDate" type="date" class="form-control" value="@* @Model.Data.Filter?.RevDate?.ToString(" yyyy-MM-dd") *@">
                        </div>
                    </div>
                </div>
                <div class="row mt-3 d-flex justify-content-end">
                    <div class="col-md-9">
                        <div class="form-group d-flex justify-content-end">
                            <label>&nbsp;</label>
                            <div class="btn-group d-block">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-search"></i> ค้นหา
                                </button>
                                <button type="button" id="clearBtn" class="btn btn-secondary">
                                    <i class="fa-solid fa-xmark"></i> ล้าง
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-search"></i> print
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>